@model LoginUserViewModel

@{
    ViewData["Title"] = "Login";
}


<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url(https://img.freepik.com/free-photo/female-doctor-her-office-with-copy-space_23-2148947632.jpg?w=1380&t=st=1684774368~exp=1684774968~hmac=a20c6bf2ccf0ac7d485dab782c63158a0b2d664c3b1866597f9f66daf4145a5d);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .login-form {
            width: 400px;
            margin: 0 auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 15px;
            border: 1px solid lightgray;
            box-shadow: 0 0 10px 1px gray;
            position: relative;
            top: 50%;
            transform: translateY(20%);
            background-color: rgba(255, 255, 255, .15);
            backdrop-filter: blur(60px);
            
        }

            .login-form h1 {
                text-align: left;
                font-weight: bold;
                font-size: 30px;
                margin-bottom: 40px;
                color: #002756;
            }

            .login-form input {
                width: 100%;
                padding: 10px;
                padding-left: 15px;
                padding-right: 15px;
                border: 1px solid #ccc;
                border-radius: 15px;
                background-color: rgba(255, 255, 255, .15);
                backdrop-filter: blur(60px);
            }


            .login-form button {
                width: 97%;
                background-color: #002756;
                color: #ffffff;
                font-size: 16px;
                padding: 10px;
                margin-top: 15px;
                margin-bottom: 20px;
                border: none;
                border-radius: 25px;
                cursor: pointer;
            }

            .login-form a {
                text-decoration: none;
                color: #000000;
                font-size: 16px;
                margin-bottom: 10px;
            }

            .login-form span {
                padding-left: 15px;
            }

                
    </style>
</head>
<body>

    <div class="login-form">

        <form class="needs-validation" novalidate asp-controller="Account" asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*@if (!ViewData.ModelState.IsValid)
            {
                <div class="text-danger">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            }*@

            <h1>Login</h1>

 
            <div class="form-floating">
                <input style="border-radius: 15px" asp-for="UserName" class="form-control" placeholder=" " required>
                <label asp-for="UserName">Email</label>
                <span style="font-size:14px"  asp-validation-for="UserName" class="text-danger"></span>
                    <div style="margin-top: -20px" class="invalid-feedback">
                    Email is required!
                </div>
            </div>


            <div class="form-floating">
                <input style="border-radius: 15px; margin-top: 5px;" asp-for="Password" class="form-control" placeholder=" " required>
                <label asp-for="Password">Password</label>
                <span style="font-size:14px" asp-validation-for="Password" class="text-danger"></span>
                <div style="margin-top: -20px" class="invalid-feedback">
                    Password is required!
                </div>
            </div>

@*            <div>
                <label asp-for="RememberMe"></label>
                <input class="form-check-input, input" asp-for="RememberMe" />
            </div>*@

            <center><button class="btn btn-primary bg-blue">Login</button></center>
        </form>

        <hr style="margin-bottom: 30px;" />
        <a style="color: gray">Don't have an account?</a><b><a style="color: #002756" asp-action="Register">     Register</a></b>

    </div>

</body>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()

</script>